<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="com.vrs.reqdroid"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application android:label="@string/app_name"
                 android:icon="@drawable/icone"
        		 android:allowBackup="true"
                 android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|keyboardHidden"

             >
         <intent-filter>
             <action android:name="android.intent.action.MAIN" />

             <category android:name="android.intent.category.DEFAULT" />
         </intent-filter>
     </activity>

     <activity
         android:name=".activities.TelaPrincipalActivity"
         android:configChanges="orientation|keyboardHidden"
         android:label="@string/app_name"
        >
    <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
</activity>

<activity
    android:name=".activities.TelaNovoProjetoActivity"
    android:label="@string/tela_principal_novo_projeto"
    android:configChanges="orientation|keyboardHidden"
        android:windowSoftInputMode="adjustResize" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <activity
        android:name=".activities.TelaAbrirProjetoActivity"
        android:label="@string/tela_principal_abrir_projeto"
        android:parentActivityName="com.vrs.TelaPrincipalActivity"
        android:configChanges="orientation|keyboardHidden"
        >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

        <activity
         android:name=".activities.TelaRequisitoDetalhadoActivity"
         android:label="@string/tela_detalhes_requisito_titulo"
         android:parentActivityName="com.vrs.reqdroid.fragments.RequisitosFragment"
         android:configChanges="orientation|keyboardHidden"
        android:windowSoftInputMode="adjustResize" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <activity
        android:name=".activities.TelaEscopoActivity"
        android:label="@string/tela_escopo_titulo"
        android:parentActivityName="com.vrs.reqdroid.activities.DrawerPrincipalActivity"
        android:configChanges="orientation|keyboardHidden"
        android:windowSoftInputMode="adjustResize" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <activity
        android:name=".activities.TelaEditarEscopoActivity"
        android:label="@string/tela_editar_escopo_titulo"
        android:parentActivityName="com.vrs.reqdroid.activities.TelaEscopoActivity"
        android:configChanges="orientation|keyboardHidden"
        android:windowSoftInputMode="adjustResize" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

        <activity
                android:name=".fragments.RequisitosFragment"
                android:label="@string/tela_visao_geral_requisitos"
                android:parentActivityName="com.vrs.reqdroid.activities.TelaPrincipalActivity"
                android:configChanges="orientation|keyboardHidden"
                android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    <activity
        android:name=".fragments.RequisitosAtrasadosFragment"
        android:label="@string/tela_visao_geral_requisitos_atrasados"
        android:parentActivityName="com.vrs.reqdroid.activities.TelaPrincipalActivity"
        android:configChanges="orientation|keyboardHidden"
        android:windowSoftInputMode="adjustResize" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <activity
        android:name=".activities.TelaRequisitoAtrasadoDetalhadoActivity"
        android:label="@string/tela_detalhes_requisito_titulo"
        android:parentActivityName="com.vrs.reqdroid.fragments.RequisitosAtrasadosFragment"
        android:configChanges="orientation|keyboardHidden"
        android:windowSoftInputMode="adjustResize" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <activity
        android:name=".activities.TelaSobreActivity"
        android:label="@string/tela_sobre_titulo"
        android:configChanges="orientation|keyboardHidden"
        android:windowSoftInputMode="adjustResize" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <activity
        android:name=".fragments.CaracteristicasUsuarioFragment"
        android:label="@string/tela_caractetisticas_usuario_titulo"
        android:parentActivityName="com.vrs.reqdroid.activities.TelaPrincipalActivity"
        android:configChanges="orientation|keyboardHidden"
        android:windowSoftInputMode="adjustResize" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <activity
        android:name=".fragments.HipotesesEDependenciasFragment"
        android:label="@string/tela_visao_geral_hipoteses_e_dependencias"
        android:parentActivityName="com.vrs.reqdroid.activities.TelaPrincipalActivity"
        android:configChanges="orientation|keyboardHidden"
        android:windowSoftInputMode="adjustResize" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <activity
        android:name=".fragments.HipotesesFragment"
        android:parentActivityName="com.vrs.reqdroid.activities.TelaPrincipalActivity"
        android:label="@string/tela_tabs_hed_hipoteses"
        android:configChanges="orientation|keyboardHidden"
        android:windowSoftInputMode="adjustResize" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <activity
        android:name=".fragments.DependenciasFragment"
        android:label="@string/tela_tabs_hed_dependencias"
        android:parentActivityName="com.vrs.reqdroid.activities.TelaPrincipalActivity"
        android:windowSoftInputMode="adjustResize"
        android:screenOrientation="portrait" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <activity
        android:name=".activities.TelaHipoteseDetalhadaActivity"
        android:label="@string/tela_detalhes_hipotese_titulo"
        android:parentActivityName="com.vrs.reqdroid.fragments.HipotesesEDependenciasFragment"
        android:configChanges="orientation|keyboardHidden"
        android:windowSoftInputMode="adjustResize" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

        <activity
            android:name=".activities.DrawerPrincipalActivity"
            android:label="@string/tela_escopo_titulo"
            android:parentActivityName="com.vrs.reqdroid.activities.TelaPrincipalActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".util.ListViewRequisitosAdapter"/>
        <activity android:name=".util.ListViewRequisitosAtrasadosAdapter"/>
        <activity android:name=".util.RequisitosAtrasadosUtils"/>
        <activity android:name=".util.HipotesesUtils"/>
        <activity android:name=".util.ListViewHipotesesAdapter"/>
        <activity android:name=".util.ListViewDependenciasAdapter"/>
        <activity android:name=".util.DependenciasUtils"/>
    </application>

    </manifest>