<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="com.vrs.reqdroid"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="18"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application android:label="@string/app_name"
                 android:icon="@drawable/icone"
        		 android:allowBackup="true"
                 android:theme="@style/Theme.Sherlock.Light">
        <activity
            android:name="com.vrs.reqdroid.MainActivity"
            android:configChanges="orientation|keyboardHidden"

             >
         <intent-filter>
             <action android:name="android.intent.action.MAIN" />

             <category android:name="android.intent.category.DEFAULT" />
         </intent-filter>
     </activity>
     <activity
         android:name="com.vrs.reqdroid.TelaPrincipalActivity"
         android:configChanges="orientation|keyboardHidden"
         android:label="@string/app_name"
        >
    <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
</activity>
<activity
    android:name="com.vrs.reqdroid.TelaNovaEspecificacaoActivity"
    android:label="@string/tela_principal_novo_projeto"
    android:configChanges="orientation|keyboardHidden"
        android:windowSoftInputMode="adjustResize" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
    <activity
        android:name="com.vrs.reqdroid.TelaVisaoGeralActivity"
        android:label="@string/tela_visao_geral_titulo"
        android:parentActivityName="com.vrs.TelaPrincipalActivity"
        android:configChanges="orientation|keyboardHidden"
        android:windowSoftInputMode="adjustResize" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
    <activity
        android:name="com.vrs.reqdroid.TelaAbrirProjetoActivity"
        android:label="@string/tela_principal_abrir_projeto"
        android:parentActivityName="com.vrs.TelaPrincipalActivity"
        android:configChanges="orientation|keyboardHidden"
        >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
        <activity
         android:name="com.vrs.reqdroid.TelaRequisitoDetalhadoActivity"
         android:label="@string/tela_detalhes_requisito_titulo"
         android:parentActivityName="com.vrs.TelaRequisitosActivity"
         android:configChanges="orientation|keyboardHidden"
        android:windowSoftInputMode="adjustResize" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
    <activity
        android:name="com.vrs.reqdroid.TelaEscopoActivity"
        android:label="@string/tela_escopo_titulo"
        android:parentActivityName="com.vrs.TelaVisaoGeralActivity"
        android:configChanges="orientation|keyboardHidden"
        android:windowSoftInputMode="adjustResize" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
    <activity
        android:name="com.vrs.reqdroid.TelaEditarEscopoActivity"
        android:label="@string/tela_editar_escopo_titulo"
        android:configChanges="orientation|keyboardHidden"
        android:windowSoftInputMode="adjustResize" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
        <activity
                android:name="com.vrs.reqdroid.TelaRequisitosActivity"
                android:label="@string/tela_visao_geral_requisitos"
                android:parentActivityName="com.vrs.TelaVisaoGeralActivity"
                android:configChanges="orientation|keyboardHidden"
                android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    <activity
        android:name="com.vrs.reqdroid.TelaRequisitosAtrasadosActivity"
        android:label="@string/tela_visao_geral_requisitos_atrasados"
        android:parentActivityName="com.vrs.TelaVisaoGeralActivity"
        android:configChanges="orientation|keyboardHidden"
        android:windowSoftInputMode="adjustResize" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
    <activity
        android:name="com.vrs.reqdroid.TelaRequisitoAtrasadoDetalhadoActivity"
        android:label="@string/tela_detalhes_requisito_titulo"
        android:parentActivityName="com.vrs.TelaRequisitosAtrasadosActivity"
        android:configChanges="orientation|keyboardHidden"
        android:windowSoftInputMode="adjustResize" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
    <activity
        android:name="com.vrs.reqdroid.TelaSobreActivity"
        android:label="@string/tela_sobre_titulo"
        android:configChanges="orientation|keyboardHidden"
        android:windowSoftInputMode="adjustResize" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
    <activity
        android:name="com.vrs.reqdroid.TelaCaracteristicasUsuarioActivity"
        android:label="@string/tela_caractetisticas_usuario_titulo"
        android:parentActivityName="com.vrs.TelaVisaoGeralActivity"
        android:configChanges="orientation|keyboardHidden"
        android:windowSoftInputMode="adjustResize" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
    <activity
        android:name="com.vrs.reqdroid.TabsHipotesesEDependenciasActivity"
        android:label="@string/tela_visao_geral_hipoteses_e_dependencias"
        android:parentActivityName="com.vrs.TelaVisaoGeralActivity"
        android:configChanges="orientation|keyboardHidden"
        android:windowSoftInputMode="adjustResize" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
    <activity
        android:name=".HipotesesFragment"
        android:label="@string/tela_tabs_hed_hipoteses"
        android:configChanges="orientation|keyboardHidden"
        android:windowSoftInputMode="adjustResize" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
    <activity
        android:name=".DependenciasFragment"
        android:label="@string/tela_tabs_hed_dependencias"
        android:windowSoftInputMode="adjustResize"
        android:screenOrientation="portrait" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
    <activity
        android:name="com.vrs.reqdroid.HipoteseDetalhadaActivity"
        android:label="@string/tela_detalhes_hipotese_titulo"
        android:parentActivityName="com.vrs.TabsHipotesesEDependenciasActivity"
        android:configChanges="orientation|keyboardHidden"
        android:windowSoftInputMode="adjustResize" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
        <activity android:name=".util.ListViewRequisitosAdapter"/>
        <activity android:name=".util.ListViewRequisitosAtrasadosAdapter"/>
        <activity android:name=".util.OperacoesRequisitosAtrasados"/>
        <activity android:name=".util.OperacoesHipoteses"/>
        <activity android:name=".util.ListViewHipotesesAdapter"/>
        <activity android:name=".util.ListViewDependenciasAdapter"/>
        <activity android:name=".util.OperacoesDependencias"/>
    </application>

    </manifest>